[submodule "nrf-research-firmware"]
	path = nrf-research-firmware
	url = https://github.com/danielpops/nrf-research-firmware.git
[submodule "nrf24-playset"]
	path = nrf24-playset
	url = https://github.com/danielpops/nrf24-playset
